langfuse:
  salt:
    value: "{{ ocp4_workload_langfuse_tenant_salt }}"
  nextauth:
    secret:
      value: "{{ ocp4_workload_langfuse_tenant_nextauth_secret }}"
    url: "{{ _ocp4_workload_langfuse_tenant_url | default('http://localhost:3000') }}"
  encryptionKey:
    value: "{{ ocp4_workload_langfuse_tenant_encryption_key }}"
  init:
    user:
      name: Admin
      email: "{{ ocp4_workload_langfuse_tenant_admin_email }}"
      password: "{{ ocp4_workload_langfuse_tenant_admin_password }}"
    org:
      name: "{{ ocp4_workload_langfuse_tenant_namespace }}"
    project:
      name: athena
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 1Gi
  worker:
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

postgresql:
  auth:
    username: langfuse
    password: "{{ ocp4_workload_langfuse_tenant_postgres_password }}"
  primary:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 256Mi

clickhouse:
  auth:
    password: "{{ ocp4_workload_langfuse_tenant_postgres_password }}"
  resourcesPreset: none
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: "1"
      memory: 1Gi
  shards: 1
  replicaCount: 1
  zookeeper:
    replicaCount: 1
    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi

redis:
  auth:
    password: "{{ ocp4_workload_langfuse_tenant_postgres_password }}"
  master:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 250m
        memory: 128Mi

s3:
  auth:
    rootPassword: "{{ ocp4_workload_langfuse_tenant_postgres_password }}"
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
